.statistics {
  margin: 50px;
  border: 1px solid rgb(227, 227, 227);
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
}

.title {
  text-align: center;
  width: 300px;
  padding: 30px;
  margin: auto;
  text-transform: uppercase;
}

.statList {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  text-align: center;
  padding: 30px;
  text-align: center;
}

.label {
  color: white;
  display: block;
  text-shadow: 1px 1px 2px rgb(106, 106, 106), -1px -1px 2px rgb(106, 106, 106);
}
.percentage {
  color: white;
  text-shadow: 1px 1px 2px rgb(106, 106, 106), -1px -1px 2px rgb(106, 106, 106);
}
